<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello test</title>
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{  asset('assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>#}
        {#<link rel="stylesheet" href="{{  asset('assets/bootstrap-3.3.7-dist/css/bootstrap_superhero.min.css') }}"/>#}
        <link rel="stylesheet" href="{{  asset('assets/bootstrap-3.3.7-dist/css/bootstrap_united.min.css') }}"/>
    {% endblock %}
</head>
<body>
    {% block body %}
       <div class="container">
           <div class="panel-group" id="accordion-sample">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title">
                           <a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-sample-one">
                               Heading One
                           </a>
                       </h4>
                   </div>
                   <div id="accordion-sample-one" class="panel-collapse collapse in">
                       <div class="panel-body">
                           Sample content
                       </div>
                   </div>
               </div>
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title">
                           <a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-sample-two">
                               Heading Two
                           </a>
                       </h4>
                   </div>
                   <div id="accordion-sample-two" class="panel-collapse collapse">
                       <div class="panel-body">
                           Sample content
                       </div>
                   </div>
               </div>
           </div>

       </div>



        </div>

    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('assets/jQuery-3.1.1/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</body>
</html>