{% extends 'admin/admin_base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Welcome to Admin page. Choose option and continue...</h1>
                {#<button type="button" class="btn btn-info btn-lg active"><a href="{{  path('import_pricelist') }}">Import excel pricelist</a></button>#}
                {#<button type="button" class="btn btn-info btn-lg active"><a href="{{  path('logout') }}">logout</a></button>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
{% endblock %}