{% extends 'admin/admin_base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{  asset('assets/CSS/marginANDpadding.css') }}"/>
    <link rel="stylesheet" href="{{  asset('assets/DataTables/css/jquery.dataTables.min.css') }}"/>
    {#apply datatable theme#}
    <link rel="stylesheet" href="{{  asset('assets/CSS/linking_products_pricelist.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container well" style="padding-left: 30px; padding-right: 30px";>


            <div class="row col-md-8">
                <h4>Create internal product</h4>

                <div class="row">
                    <label class="col-md-4">group:</label>
                    <select class="form-control col-md-8" id="group">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="">
                    <label>manufacturer:</label>
                    <select class="form-control" id="manufacturer">
                        {% for manufacturer in manufacturers %}
                            <option value="{{ manufacturer.manufacturerId }}">{{ manufacturer.manufacturerName }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="">
                    <label>name:</label>
                    <input type="text" id="product_name"/>
                </div>

                <div class="">
                    <label>price:</label>
                    <input type="text" id="price"/>
                </div>

            </div>

        <br>
        <br>

        <div class="row col-md-12" id="btn_div">
            <button data-url="{{ path('create_internal_products') }}" id="btn_create"  class="btn btn-primary">Create product</button>
            {#data-url="{{ path('') }}"#}
        </div>

        <br>

    </div>

     <div class="container well" style="padding-left: 30px; padding-right: 30px">
         {#internal products table#}
         <div class="row col-md-12">
             <h4>Internal products table</h4>

             <table class="table-responsive table table-bordered" id="internal_table">

                 <thead>
                 <tr>
                     <th>id</th>
                     <th>group id</th>
                     <th>group name</th>
                     <th>name</th>
                     <th>manufacturer</th>
                     <th>input date</th>
                     <th>price</th>
                 </tr>
                 </thead>

                 <tbody>
                 {%  for product in products %}
                     <tr>
                         <td>{{  product.internalproductid }}</td>
                         <td>{{  product.groups }}</td>
                         <td>{{  product.groupname }}</td>
                         <td>{{  product.productname }}</td>
                         <td>{{  product.manufacturername }}</td>
                         <td>{{  product.inputdate|date("d-m-Y")}}</td>
                         <td>{{  product.price }}</td>
                     </tr>
                 {% endfor %}
                 </tbody>
             </table>

         </div>
     </div>

    {#Modal progress bar#}
    <div class="modal fade in" id="progressbar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-edit">
                <div class="modal-header">
                    <button id="closebtn" type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Please wait until load of pricelist table element is finish.</h4>

                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="prog-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            {#<span class="sr-only">70% Complete</span>#}
                        </div>
                    </div>
                    <h4 id="status">Delete pricelist process is running...</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('assets/JS/create_internal_product.js') }}"></script>
    <script src="{{ asset('assets/JS/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/JS/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ asset('assets/DataTables/js/jquery.dataTables.min.js') }}"></script>

{% endblock %}