{% extends 'admin/admin_base.html.twig' %}

{%  block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{  asset('assets/CSS/marginANDpadding.css') }}"/>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid">

        {#part-one headline#}
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to Import excel pricelist page</h1>
                {# <button type="button" class="btn btn-info btn-lg active"><a href="{{  path('logout') }}">Import excel pricelist</a></button> #}
            </div>
        </div>

        {#empty space between two rows#}
        <div class="row">
            <br>
            <br>
        </div>

        {#form-part#}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form role="form" class="form-horizontal" method="post" id="formid">
                    {#supplier selector#}
                    <div class="form-group margin_padding">
                        <label for="supplier">Supplier name:</label>
                        <select class="form-control" id="supplier">
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.supplierid }}">{{ supplier.suppliername }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <br>
                    <br>

                    {#excel pricelist file selector - OLD VERSION#}
                    {#<div class-="form-group margin_padding">#}
                        {#<label for="excel">Excel pricelist file:</label>#}
                        {#<label class="btn btn-default btn-file" style="width: 100%">#}
                            {#<input type="file" hidden id="pricelist_filename">#}
                        {#</label>#}
                    {#</div>#}

                    {#excel pricelist file selector#}
                    <div class="form-group margin_padding">
                        <label for="pricelistfile">Excel pricelist file:</label>
                        <select class="form-control" id="excel">
                            {% for file in arrayFilenames %}
                                <option }}">{{ file }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <br>
                    <br>

                    {#Enter price and name columns of excel pricelist file#}
                    <div class="form-group margin_padding">
                        <label for="pricelistfile">Enter price and name columns of excel pricelist file:</label>
                    </div>

                    <div class="form-group margin_padding">
                        <label for="column_name">Product name column:</label>
                        <select class="form-control" id="name">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="N">N</option>
                            <option value="O">O</option>
                            <option value="P">P</option>
                            <option value="Q">Q</option>
                            <option value="R">R</option>
                            <option value="S">S</option>
                            <option value="T">T</option>
                            <option value="U">U</option>
                            <option value="V">V</option>
                            <option value="W">W</option>
                            <option value="X">X</option>
                            <option value="Y">Y</option>
                            <option value="Z">Z</option>
                        </select>
                    </div>

                    <div class="form-group margin_padding">
                        <label for="column_price">Product price column:</label>
                        <select class="form-control" id="price">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                            <option value="J">J</option>
                            <option value="K">K</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="N">N</option>
                            <option value="O">O</option>
                            <option value="P">P</option>
                            <option value="Q">Q</option>
                            <option value="R">R</option>
                            <option value="S">S</option>
                            <option value="T">T</option>
                            <option value="U">U</option>
                            <option value="V">V</option>
                            <option value="W">W</option>
                            <option value="X">X</option>
                            <option value="Y">Y</option>
                            <option value="Z">Z</option>
                        </select>
                    </div>

                    <br>
                    <br>
                    {#import excel pricelist to DB #}
                    <div class="form-group margin_padding" id="file_div">
                        <label for="import">Import pricelist into DB:</label>
                        <br>
                        <button type="submit" class="btn btn-primary pull-right col-md-6" data-url="{{ path('import_pricelist') }}" id="import">Start import</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    {#Modal progress bar#}
    <div class="modal fade in" id="progressbar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content modal-edit">
                <div class="modal-header">
                    <button id="closebtn" type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Please wait until import pricelist process is finish.</h4>

                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="prog-bar" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:1%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <h4 id="status">Import pricelist process is running...</h4>
                </div>
            </div>
        </div>
    </div>

    {#TESTING#}
    {#<div class="progress">#}
        {#<div id="prog" class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width:1%">#}

        {#</div>#}
    {#</div>#}

    {#<button class="btn btn-primary pull-right col-md-6"  id="bar">start progres bar</button>#}

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('assets/JS/import_pricelist.js') }}"></script>
    <script src="{{ asset('assets/JS/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/JS/bootstrap-confirmation.min.js') }}"></script>
{% endblock %}