{% extends 'admin/admin_base.html.twig' %}

{#NOTICE: Upload pricelist files with Symfony form#}

{%  block stylesheets %}
    {{  parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container well">
    {#part-one headline#}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Upload pricelist file page</h1>
        </div>
    </div>

    {#empty space between two rows#}
    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form role="form" class="form-horizontal" method="post" action="{{ path('upload_pricelist') }}" id="form" enctype="multipart/form-data" >
                <h4>Excel file</h4>
                <button class="btn btn-primary"><input type="file" id="file_id" name="excel_file"/></button>

                <br>
                <br>

                <label for="supplier">Supplier name:</label>
                <select class="form-control" id="supplier" name="supplier">
                    {% for supplier in suppliers %}
                    <option value="{{ supplier.supplierid }}">{{ supplier.suppliername }}</option>
                    {% endfor %}
                </select>

                <br>
                <br>

                <button type="submit" class="btn btn-primary pull-right" {#data-url="{{ path('import_pricelist') }}"#} id="upload">upload file</button>
            </form>

        </div>
    </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('assets/JS/upload_pricelists.js') }}"></script>
    <script src="{{ asset('assets/JS/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/JS/bootstrap-confirmation.min.js') }}"></script>
{% endblock %}